.product > img{
    width:100%;
    height: 240px;
    object-fit: contain;
    margin-bottom: 15px;
    z-index: 1;
    background-color:white;

}

.add_to_cart_btn{
background-color: rgb(255, 179, 64);
border-color: rgb(255, 179, 64);
}

.product{
display:flex;
flex-direction: column;
align-items:center;
justify-content:flex-end;
margin:20px;
padding: 10px;
background-color:rgb(255, 255, 255);
width: 100%;
max-height: 400px;
min-width: 100px;
}
.product_info{
    height: 85px;
    margin-bottom:15px;
    width: 100%;
}
.product_price{
    margin-top: 3.5px;
}
.product_rating{
    display: flex;
}